{% load static %}
{% static 'media' as base_url %}
<html>

    <meta charset="utf-8">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    </head>
    <body style="background-color:#B3E5FC;">
        <!-- Navbar Start-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);background-color: #F5F5F5;">
          <div class="container-fluid">
            <a class="navbar-brand" style="font-family: poppins;font-size: 30px;font-weight: 600;" >AQV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="home">
                  <a class="nav-link" style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" id="socio">
                  <a class="nav-link" style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="Social">Socio Demo</a>
                </li>
                <li class="nav-item" id="aircompare">
                  <a class="nav-link active" style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="compare">Air Compare</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          <!-- Nav End -->
            
                  <!-- <div class="col-4">
                    <div class="card" style="font-family:Poppins;box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:300;">
                        <div class="card-body">
                          <table class="table">
                            <thead>
                              <tr class="table-dark">
                                <th>Category</th>
                                <th>Area</th>
                                <th>AQI</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-success">
                                <td>M-Ward East Lowest</td>
                                <td>Mankhurd</td>
                                <td>{{overallCountmineast}}</td>
                              </tr>      
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-danger">
                                <td >M-Ward East Highest</td>
                                <td>Shivaji Nagar</td>
                                <td>{{maxVal_east}}</td>
                              </tr>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-success">
                                <td>M-Ward West Lowest</td>
                                <td>Chembur</td>
                                <td>{{overallCountminwest}}</td>
                              </tr>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-danger">
                                <td>M-Ward West Highest</td>
                                <td>Sindhi Society</td>
                                <td>{{maxVal_west}}</td>
                              </tr>
                             
                            </tbody>
                          </table>
  
                        </div>
                    </div>
                  </div> -->
                

            
       <!-- <canvas id="pie-chart" width="800" height="450"></canvas>
                          <canvas id="pie-chart1" width="800" height="450"></canvas>
                          <canvas id="pie-chart2" width="800" height="450"></canvas>
                          <canvas id="pie-chart3" width="800" height="450"></canvas> -->
             
     
              

              <!-- air compare -->
              <!-- <div class="con" style="display: flex;">
                <div class="card" style="font-family:Poppins;box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;margin-left:10px; width:800px;height:600px;margin-top: 20px;">
                  <div class="card-body">
                    <h1>M-Ward West Vs M-Ward East Aqi</h1>
              <canvas id="myChart" style="position: absolute;" height="180" width="200"></canvas>
              <canvas id="myChart2" style="position: absolute;" height="180" width="200"></canvas>
                  </div>
                </div>
               
              </div> -->
              
              <div class="card" style="font-family:Poppins;box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px; margin-left: 80px; width:90%;height:550px; margin-top: 20px;">
                <div class="card-body">
                <h1>Compare Regions</h1>
                    <select id="select" style="height: 40px;
                    border: 2px solid skyblue;
                    border-radius: 5px;
                    background-color: transparent;    
                    color: skyblue;        
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 5px 10px;">
                        <option>Select Region</option>
                    </select>
                    <select id="select2" style="height: 40px;
                    border: 2px solid skyblue;
                    border-radius: 5px;
                    background-color: transparent;    
                    color: skyblue;        
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 5px 10px;">
                        <option>Select Region</option>
                    </select>
                    <button id="btn" onclick="getRegion()">GO</button>
                    <p id="regionname"></p>
                    <canvas id="myChart3" style="position: absolute;" height="130" width="200"></canvas>
          
            </div>
              </div>
              <br>
              <br>
              <div class="container-fluid">
                
                <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;height: 720px;">
                  <h1 style="margin-top: 20px;text-align: center;font-family: poppins;">M-Ward West AQI Vs M-Ward East AQI</h1>
                  
              
                <div class="row">
                  <div class="col-6">
                    <div class="card" style="border: 0px;width: 100%;height:600px;margin-top: 20px;">
                      <div class="card-body">
                        <canvas id="myChart" style="position: absolute;" height="180" width="200"></canvas>
                        <div class="rea1">
                          <ul style="margin-top: 470px;border: 2px solid grey; padding: 22px;">
                            <li style="font-family: poppins;">The air quality of west is <strong> comparatively less </strong>than east because as predicted from the social demographic data of west the population growth is decreasing by 0.5%</li>
                          </ul>
                        </div>
                  </div>
                  </div>
                  </div>

                  <div class="col-6">
                    <div class="card" style="border: 0px;width: 100%;height:600px;margin-top: 20px;">
                      <div class="card-body">
                        <canvas id="myChart2" style="position: absolute;" height="180" width="200"></canvas>
                        <div class="rea1">
                          <ul style="margin-top: 470px;border: 2px solid grey; padding: 25px;">
                            <li style="font-family: poppins;">The air quality index of east is<strong> comparatively greater </strong> than west on each of the dates because regions in west like Deonar are mostly populted with slums.</li>
                          </ul>
                        </div>
                  </div>
                  </div>
                  </div>
                </div>
               
              </div>
              <canvas id="mixed-chart1" style="margin-top:50px;height:600px;width:1200px;"></canvas>  
              </div>
              

<script>

  function getRandomColor(indidata) {
      var pool = [];
      
      for(i = 0; i <indidata.length; i++) {
        if(indidata[i]  >=300)  
        {
        pool.push("#800000");
        }
        else if(indidata[i]>=201 && indidata[i]<300)
        {
          pool.push("#800080");
        }
        else if(indidata[i]>=151 && indidata[i]<201)
        {
          pool.push("red");
        }
        else if(indidata[i]>=101 && indidata[i]<151)
        {
          pool.push("orange");
        }
        else if(indidata[i]>=51 && indidata[i]<101)
        {
          pool.push("yellow");
        }
        else
        {
          pool.push("green");
        }
  
  
      }
      return pool;
  }   
      new Chart(document.getElementById("mixed-chart1"), {
      type: 'line',
      data: {
        labels: {{ nameoo|safe}},
        datasets: [{
            label: "Predicted AQI",
            type: "line",
            borderColor: "#1E90FF",
            data: {{ pre}},
            fill: false
          }, {
            label: "Original AQI",
            type: "line",
            backgroundColor:"#1E90FF",
            data:  {{aqio}} ,
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Comparison between Predicted Vs The Original AQI'
        },
        legend: { display: false }
       
      }
  });
  
  </script>
  
              <script>
                
                setup();
          
                async function setup() {
                  const ctx = document.getElementById('myChart').getContext('2d');
                  const globalTemps = await getData();
                  const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: globalTemps.date,
                      datasets: [
                        {
                          label: 'M-WARD WEST Aqi Index',
                          data: globalTemps.avg,
                          fill: 'origin',
                          lineTension:0,
                          pointRadius:0,
                          borderColor: 'rgba(255, 99, 132, 1)',
                          backgroundColor: 'rgba(255, 99, 132, 0.5)',
                          borderWidth: 1
                        }
                      ]
                    },
                    options: {
                  layout: {
                      padding: {
                          left: 10,
                          right: 10,
                          top: 0,
                          bottom: 180
                      }
                      
                  },
                  scales: {
                      xAxes: [{
                            // display: false,
                          //  type: 'date',
                          ticks: {
                              display: true,//this will remove only the label
                              autoSkip: true,
                              maxTicksLimit: 17
                          },
                          // scaleLabel: {
                          //   display: true,
                          //   labelString: globalTemps.date
                          // }
                      }]
                  },
                  tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
                  hover: {
                      mode: 'nearest',
                      intersect: true
                  },
                  
              }
                  });
                
                const ctx2 = document.getElementById('myChart2').getContext('2d');
          
                  const globalTemps2 = await getData2();
                  const myChart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                      labels: globalTemps2.date,
                      datasets: [
                        {
                          label: 'M-WARD EAST Aqi Index',
                          data: globalTemps2.avg,
                          fill: 'origin',
                          lineTension:0,
                          pointRadius:0,
                          borderColor: 'rgba(255, 99, 132, 1)',
                          backgroundColor: 'rgba(255, 99, 132, 0.5)',
                          borderWidth: 1
                        }
                      ]
                    },
                    options: {
                  layout: {
                      padding: {
                          left: 10,
                          right: 10,
                          top: 0,
                          bottom: 180
                      }
                      
                  },
                  scales: {
                      xAxes: [{
                        ticks: {
                              display: true,//this will remove only the label
                              autoSkip: true,
                              maxTicksLimit: 17
                          },
                      }],
                  //     yAxes: [{
                  //   gridLines: {
                  //     tickMarkLength: 0,
                  //   },
                  // }] 
                  },
                  tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
                  hover: {
                      mode: 'nearest',
                      intersect: true
                  },
                  
              }
                  });
          
                  const ctx3 = document.getElementById('myChart3').getContext('2d');
                  const globalTemps3 = await getDatafull();
                  
               
                  const myChart3 = new Chart(ctx3, {
                    type: 'line',
                    data: {
                      labels: globalTemps3.date,
                      datasets: [
                        {
                          label: 'M-WARD Aqi Index',
                          data: globalTemps3.avg,
                    
                          lineTension:0,
                          
                          borderColor: 'rgba(255, 99, 132, 1)',
                          // backgroundColor: 'rgba(255, 99, 132, 0.5)',
                          borderWidth: 1
                        }
                      ]
                    },
                    options: {
                  layout: {
                      padding: {
                          left: 10,
                          right: 130,
                          top: 0,
                          bottom: 450
                      }
                      
                  },
                  scales: {
                      xAxes: [{
                           
                          ticks: {
                              display: true,//this will remove only the label
                              autoSkip: true,
                              maxTicksLimit: 17
                          },
                         
                      }]
                  },
                  tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
                  hover: {
                      mode: 'nearest',
                      intersect: true
                  },
                  
              }
                  });
                  $("#btn").on("click", async function() {
                  const ctx4 = document.getElementById('myChart3').getContext('2d');
                  const globalTemps4 = await getDataCity1();
                  console.log(globalTemps4);
                  const globalTemps5 = await getDataCity2();
                  console.log(globalTemps5);
                  const myChart4 = new Chart(ctx4, {
                    type: 'line',
                    data: {
                      labels: globalTemps4.date,
                      datasets: [
                        {
                          label: globalTemps4.first,
                          data: globalTemps4.avg,
                          fill: false,
                          // lineTension:0,
                          // pointRadius:0,
                          borderColor: 'rgba(255, 99, 132, 1)',
                          // backgroundColor: 'rgba(255, 99, 132, 0.5)',
                          borderWidth: 1
                        },
                        {
                          label: globalTemps5.second,
                          data: globalTemps5.avg,
                          fill: false,
                          // lineTension:0,
                          // pointRadius:0,
                          borderColor: 'rgba(58, 52, 235, 1)',
                          // backgroundColor: 'rgba(255, 99, 132, 0.5)',
                          borderWidth: 1
                        }
                      ]
                    },
                    options: {
                  layout: {
                      padding: {
                          left: 10,
                          right: 130,
                          top: 0,
                          bottom: 450
                      }
                      
                  },
                  scales: {
                      xAxes: [{
                           
                          ticks: {
                              display: true,//this will remove only the label
                              autoSkip: true,
                              maxTicksLimit: 17
                          },
                         
                      }]
                  },
                  tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
                  hover: {
                      mode: 'nearest',
                      intersect: true
                  },
                  
              }
                  });
                });
                }
                
                async function getData() {
                  var west = '{% static "westaqi.csv" %}'

                  const response = await fetch(west);
                  const data = await response.text();
                  const date = [];
                  const avg = [];
                  const rows = data.split('\n').slice(1);
                  rows.forEach(row => {
                    const cols = row.split(',');
                    date.push(cols[1]);
                    avg.push(cols[7]);
                  });
                  return { date, avg };
                }
          
                async function getData2() {
                  var east = '{% static "eastaqi.csv" %}'
                  const response = await fetch(east);
                  const data = await response.text();
                  const date = [];
                  const avg = [];
                  const rows = data.split('\n').slice(1);
                  rows.forEach(row => {
                    const cols = row.split(',');
                    date.push(cols[1]);
                    avg.push(cols[10]);
                    console.log(avg);
                  });
                  return { date, avg };
                }
                async function getDatafull() {
                  var full = '{% static "fullmward.csv" %}'

                  const response = await fetch(full);
                  const data = await response.text();
                  const date = [];
                  const avg = [];
                  const rows = data.split('\n').slice(1);
                  rows.forEach(row => {
                    const cols = row.split(',');
                    date.push(cols[1]);
                    avg.push(cols[17]);
                    console.log(avg);
                  });
                  return { date, avg };
                }
                var select = document.querySelector("#select");
                var select2 = document.querySelector("#select2");
          
                var pTag = document.querySelector("#regionname");
          
                const Regions= ["Chheda Nagar", "Tilak Nagar", "Sindhi Society", "Mahul", "Chembur West", "Mankhurd", "Deonar", "Cheeta Camp", "Anushakti Nagar", "Shiavji Nagar", "Govandi", "Chembur East", "Trombay" ];
                for(let i=0; i<Regions.length;i++){
              let region = Regions[i];
              let optionElement = document.createElement('option');   
              optionElement.value = region;
              optionElement.textContent = region;
              select.appendChild(optionElement);
              console.log(optionElement);    
          }
          for(let i=0; i<Regions.length;i++){
              let region = Regions[i];
              let optionElement = document.createElement('option');   
              optionElement.value = region;
              optionElement.textContent = region;
              select2.appendChild(optionElement);
              console.log(optionElement);    
          }
          
          
          function getRegion() {
              
              let val = select.options[select.selectedIndex].text;
              let val2= select2.options[select2.selectedIndex].text;
              
              console.log(pTag.textContent);
              return [val, val2];
          }
          
          async function getDataCity1() {
                  // const response = await fetch('testdata.csv');
                  var fulm = '{% static "fullmward.csv" %}'

                  const response = await fetch(fulm);
                  const data = await response.text();
                  const date = [];
                  const avg = [];
                  const rows = data.split('\n').slice(1);
                  const [first, second] = getRegion();
                  rows.forEach(row => {
                    const cols = row.split(',');
                    date.push(cols[1]);
                    
                    console.log(first);
                    if(first=="Chheda Nagar"){
                      avg.push(cols[2]);
                    }else if(first=="Tilak Nagar"){
                      avg.push(cols[3]);
                    }else if(first=="Sindhi Society"){
                      avg.push(cols[4]);
                    }else if(first=="Mahul"){
                      avg.push(cols[5]);
                    }else if(first=="Chembur West"){
                      avg.push(cols[6]);
                    }else if(first=="Mankhurd"){
                      avg.push(cols[8]);
                    }else if(first=="Deonar"){
                      avg.push(cols[9]);
                    }else if(first=="Cheeta Camp"){
                      avg.push(cols[10]);
                    }else if(first=="Anushakti Nagar"){
                      avg.push(cols[11]);
                    }else if(first=="Shivaji Nagar"){
                      avg.push(cols[12]);
                    }else if(first=="Govandi"){
                      avg.push(cols[13]);
                    }else if(first=="Chembur East"){
                      avg.push(cols[14]);
                    }else if(first=="Trombay"){
                      avg.push(cols[15]);
                    }
          
                    // date.push(cols[1]);
                    // avg.push(cols[17]);
                    console.log(avg);
                  });
                  return { date, avg, first };
                }
            
                async function getDataCity2() {
                  // const response = await fetch('testdata.csv');
                  var fullm = '{% static "fullmward.csv" %}'

                  const response = await fetch(fullm);
                  const data = await response.text();
                  const date = [];
                  const avg = [];
                  const rows = data.split('\n').slice(1);
                  console.log(rows);
                  const [first, second] = getRegion();
                  rows.forEach(row => {
                    const cols = row.split(',');
                    date.push(cols[1]);
                    
                    console.log(second);
                    if(second=="Chheda Nagar"){
                      avg.push(cols[2]);
                    }else if(second=="Tilak Nagar"){
                      avg.push(cols[3]);
                    }else if(second=="Sindhi Society"){
                      avg.push(cols[4]);
                    }else if(second=="Mahul"){
                      avg.push(cols[5]);
                    }else if(second=="Chembur West"){
                      avg.push(cols[6]);
                    }else if(second=="Mankhurd"){
                      avg.push(cols[8]);
                    }else if(second=="Deonar"){
                      avg.push(cols[9]);
                    }else if(second=="Cheeta Camp"){
                      avg.push(cols[10]);
                    }else if(second=="Anushakti Nagar"){
                      avg.push(cols[11]);
                    }else if(second=="Shivaji Nagar"){
                      avg.push(cols[12]);
                    }else if(second=="Govandi"){
                      avg.push(cols[13]);
                    }else if(second=="Chembur East"){
                      avg.push(cols[14]);
                    }else if(second=="Trombay"){
                      avg.push(cols[15]);
                    }
          
                    console.log(avg);
                  });
                  return { date, avg, second};
                }
              </script>
       
</body>
</html>