<html>

    <meta charset="utf-8">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    </head>
    <body style="background-color:#B3E5FC;">
        <!-- Navbar Start-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);background-color: #F5F5F5;">
          <div class="container-fluid">
            <a class="navbar-brand" style="font-family: poppins;font-size: 30px;font-weight: 600;" >AQV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="home">
                  <a class="nav-link active" style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" id="socio">
                  <a class="nav-link" style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="Social">Socio Demo</a>
                </li>
                <li class="nav-item" id="aircompare">
                  <a class="nav-link " style="font-family: poppins;font-size: large;font-weight: 600;" aria-current="page" href="compare">Air Compare</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          <!-- Nav End -->
            <br>
            <div class="container">
              <div class="row">
                  <h1 style=" color: #0D47A1;font-weight: 600;font-size: 30px;text-align: center;font-family: poppins;">
                    Extended Forecast of {{Name_region}}
                    <br>
                    <span style="color: #0D47A1;font-weight: 400;font-family: poppins;font-size:large;text-align: center;">Real-Time Air Pollution Prediction</span>
                  </h1>
              </div>
            </div>
            <br>
            <!-- General Stats start -->
            <div class="container-fluid">
                <div class="row">
                  <!-- <div class="col-4">
                    <div class="card" style="font-family:Poppins;box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:300;">
                        <div class="card-body">
                          <table class="table">
                            <thead>
                              <tr class="table-dark">
                                <th>Category</th>
                                <th>Area</th>
                                <th>AQI</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-success">
                                <td>M-Ward East Lowest</td>
                                <td>Mankhurd</td>
                                <td>{{overallCountmineast}}</td>
                              </tr>      
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-danger">
                                <td >M-Ward East Highest</td>
                                <td>Shivaji Nagar</td>
                                <td>{{maxVal_east}}</td>
                              </tr>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-success">
                                <td>M-Ward West Lowest</td>
                                <td>Chembur</td>
                                <td>{{overallCountminwest}}</td>
                              </tr>
                              <tr style="line-height: 40px;min-height: 25px; height: 35px;" class="table-danger">
                                <td>M-Ward West Highest</td>
                                <td>Sindhi Society</td>
                                <td>{{maxVal_west}}</td>
                              </tr>
                             
                            </tbody>
                          </table>
  
                        </div>
                    </div>
                  </div> -->
                
                <div class="col-12">
                  <!-- <h4 style="margin-left:300px;">Extended Forecast of {{Name_region}}</h4> -->
                  <div class="container-fluid" style="font-family:Poppins;" >
                    <div class="row">
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px"  >
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.0}}</strong> |
                            <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.0}}</span></h5>
                            
                            <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>

                            <h6 class="card-title" style="font-weight: 600;color:{{predcol.0}};text-align: center;font-size: 40px;">{{aqipredict.0}}<span> {{predemj.0}}</span></h6>
                            <hr>
                            
                            <h6 class="card-des" style="text-align: center;">{{preddesc.0}}</h6>
                        
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.1}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.1}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                            <h6 class="card-title" style="font-weight: 600;color:{{predcol.1}};text-align: center;font-size: 40px;">{{aqipredict.1}}<span> {{predemj.1}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;" >{{preddesc.1}}</h6>

                            
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.2}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.2}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                              <h6 class="card-title" style="font-weight: 600;color:{{predcol.2}};text-align: center;font-size: 40px;">{{aqipredict.2}}<span> {{predemj.2}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;">{{preddesc.2}}</h6>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.3}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.3}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                              <h6 class="card-title" style="font-weight: 600;color:{{predcol.3}};text-align: center;font-size: 40px;">{{aqipredict.3}}<span> {{predemj.3}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;">{{preddesc.3}}</h6>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.4}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.4}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                              <h6 class="card-title" style="font-weight: 600;color:{{predcol.4}};text-align: center;font-size: 40px;">{{aqipredict.4}}<span> {{predemj.4}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;">{{preddesc.4}}</h6>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.5}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.5}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                              <h6 class="card-title" style="font-weight: 600;color:{{predcol.5}};text-align: center;font-size: 40px;">{{aqipredict.5}}<span> {{predemj.5}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;">{{preddesc.5}}</h6>
                              
                          </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <div class="card" style="border:0px;width: 11rem;height: 13rem;border-radius: 8px">
                          <div class="card-body" style="background:white;border-radius: 8px">
                            <h5 class="card-title" style="text-align: center;font-size: 13px;"><strong>{{daypredicts.6}}</strong> |
                              <span class="card-subtitle mb-2" style="font-size: 14px;">{{newdates.6}}</span></h5>
                              <h6 class="card-title" style="font-weight: 600;text-align:center;font-family:Poppins;">AQI</h6>
                              <h6 class="card-title" style="font-weight: 600;color:{{predcol.6}};text-align: center;font-size: 40px;">{{aqipredict.6}}<span> {{predemj.6}}</span></h6>
                            <hr>

                            <h6 class="card-des" style="text-align: center;" >{{preddesc.6}}</h6>


                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                                </div>
                <!-- <div class="col-1">
                </div> -->
              </div>
            </div>
            <br>
            <br>
        <!-- Region wise chart -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:710;">
              <div class="card-body">
                <h4 style="color: #7c0b03;font-family:Poppins;text-align:left;font-size:20px"><strong>&#9203 AQI Today</strong></h4>
                <p class="fs-4" style="font-family: poppins"><strong>M-WARD WEST</strong></p>
                <div class="row">
                <div class="col-2" style="margin-left: 10px;">
                  <form method="post" enctype="multipart/form-data" action="Regionwise">
                    {% csrf_token %}
                    <div class="col-lg-4">
                        {% for con in wast_west_n %}
                        <table style="border-width: 2px; border: #333;">
                        <tr>
                            <button type="submit" class="btn btn-light btn-outline-dark" value={{con}} name="Name_region" style="width:140px; height: 35px; " > {{con}} </button>
                            <!-- <input type="submit" value={{con}} name="Name_region" style="width:140px;"> -->
                        </tr>
                    </table>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6" style="margin-left: 57px;">
                  <div > 
                    <canvas id="myChart" style="height: 315px; width: 280px" ></canvas>
                </div>
                </div>
                <div style="margin-left:-20px" class="col-2">
                  <p style="margin-top: 7px;color:darkcyan;font-weight: bold;">{{countsVal_west.0}}</p>
                  <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_west.1}}</p> 
                  <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_west.2}}</p>
                  <p style="margin-top: -7px;color:darkcyan;font-weight: bold;">{{countsVal_west.3}}</p>
                  <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_west.4}}</p>
                  <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_west.5}}</p>
  
                 
                </div>
              </div>
              <hr>
              <p class="fs-4" style="font-family: poppins"><strong>M-WARD EAST</strong></p>
              <div class="row">
                <div class="col-2" style="margin-left: 10px;">
                  {% for con in wast_east_n %}
              <table style="border-width: 2px; border: #333;">
              <tr>
                  <button type="submit" class="btn btn-light btn-outline-dark" value={{con}} name="Name_region"  style="width:140px; height: 35px;text-color: white;" > {{con}} </button>
                  <!-- <input type="submit" value={{con}} name="Name_region" style="width:140px;"> -->
              </tr>
          </table>
              {% endfor %}
          </div>
          <div class="col-6" style="margin-left: 60px;">
              <div> 
                  <canvas id="myChart2" style="height: 362px; width: 280px"></canvas>
              </div>
            </div>
            <div style="margin-left:-20px" class="col-2">
              <p style="margin-top: 7px;color:darkcyan;font-weight: bold;">{{countsVal_east.0}}</p>
              <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_east.1}}</p> 
              <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_east.2}}</p>
              <p style="margin-top: -7px;color:darkcyan;font-weight: bold;">{{countsVal_east.3}}</p>
              <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_east.4}}</p>
              <p style="margin-top: -5px;color:darkcyan;font-weight: bold;">{{countsVal_east.5}}</p>
              <p style="margin-top: px;color:darkcyan;font-weight: bold;">{{countsVal_east.6}}</p>

             
           
          </div>
              </form>
            </div>
          </div>
              </div>
              </div>

              <!-- Tab start  -->

          <div class="col-8">
                <ul class="nav nav-pills mb-2 " style="align-items: center;width: 500px;" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">AQI Analysis</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Population Ananlysis</button>
        </li>
       
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
           <!-- AQI Analysis start -->
          <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;height:660">
                  <div class="card-body">
                <div style="font-weight: 500;font-family:Poppins;font-size:40px;text-align: center;">&#128200 Analysis on {{Name_region}}</div>
                        
                            <canvas id="mixed-chart" style="margin-top:50px;height:600px;width:1200px;"></canvas>
                            <br>
                            <h5 style="margin-left:50px;font-weight: 600;font-size: 14px;font-family: poppins;"><span style="color: #34a12b;word-spacing: 10px;">&#8226 Good(0-50) </span><span style="color: #FFEA00;word-spacing: 10px;">&#8226 Moderate(51-100) </span><span style="color: #FF9100;word-spacing: 10px;">&#8226 Poor(101-150) </span><span style="color: #f44336;word-spacing: 10px;">&#8226 Unhealthy(151-200) </span><span style="color: #9C27B0;word-spacing: 10px;">&#8226 Severe(201-250) </span><span style="color: #800000;word-spacing: 10px;">&#8226 Hazard(251-300)</span></h5>

                          </div>
                          
                </div> 
        </div>
        
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <!-- Population Analysis start -->
              <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;height:660">
                <div class="card-body">
            <div style="font-weight: 500;font-family:Poppins;font-size:40px;text-align: center;">&#128200  Population Analysis on {{Name_region}}</div>
                        
                <canvas id="mixed-chart1" style="margin-top:50px;height:600px;width:1200px;"></canvas>
                <br>
                <h5 style="margin-left:50px;font-weight: 600;font-size: 14px;font-family: poppins;"></h5>
</div>
</div>

              </div>
          </div>
 
      </div> 

                <!-- <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;height:710">
                  <div class="card-body">
                <div style="font-weight: 500;font-family:Poppins;font-size:40px;text-align: center;">&#128200 Analysis on {{Name_region}}</div>
                        
                            <canvas id="mixed-chart" style="margin-top:50px;height:600px;width:1200px;"></canvas>
                            <br>
                            <h5 style="margin-left:50px;font-weight: 600;font-size: 14px;font-family: poppins;"><span style="color: #34a12b;word-spacing: 10px;">&#8226 Good(0-50) </span><span style="color: #FFEA00;word-spacing: 10px;">&#8226 Moderate(51-100) </span><span style="color: #FF9100;word-spacing: 10px;">&#8226 Poor(101-150) </span><span style="color: #f44336;word-spacing: 10px;">&#8226 Unhealthy(151-200) </span><span style="color: #9C27B0;word-spacing: 10px;">&#8226 Severe(201-250) </span><span style="color: #800000;word-spacing: 10px;">&#8226 Hazard(251-300)</span></h5>

                          </div>
                          
                </div>  -->
                <!-- AQI Analysis end -->

                <!-- Population Analysis start -->
                <!-- <div style="font-weight: 500;font-family:Poppins;font-size:40px;text-align: center;">&#128200  Population Analysis on {{Name_region}}</div>
                        
                <canvas id="mixed-chart1" style="margin-top:50px;height:600px;width:1200px;"></canvas>
                <br>
                <h5 style="margin-left:50px;font-weight: 600;font-size: 14px;font-family: poppins;"></h5>

              </div> -->
                <!-- Population Analysis end -->         
    </div>
   
              </div>
              
           
              </div>
              <br>
       <br>
       <!-- <canvas id="pie-chart" width="800" height="450"></canvas>
                          <canvas id="pie-chart1" width="800" height="450"></canvas>
                          <canvas id="pie-chart2" width="800" height="450"></canvas>
                          <canvas id="pie-chart3" width="800" height="450"></canvas> -->
              <div class="container-fluid">
              
                <div class="row">
                  <div class="col-6">
                    <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:480px;">
                      <div class="card-body" style="display: inline-block;" >
                        <div id="my-legend-con" class="legend-con" style="bottom: 0px; float: left; margin-top: 100px;" ><ul style="list-style-type: none;margin: 0;padding: 0;"><li style="list-style: none;margin: 0;padding: 0;"></li></ul></div>

                        <div class="name" style="display: flex;
                        align-items:center;
                        margin-bottom: 10px;
                        justify-content: center;
                        min-height: 365px;
                        position: relative;">
                        <p style="position: relative; left: 300px;
                        margin-top: 64px;">Total </p>
                        <canvas id="pie-chart" width="800" height="550"></canvas>
                    
                  </div>
                  
                  </div>
                  </div>
                  </div>
                  <div class="col-6">
                    <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:480px;">
                      <div class="card-body" style="display: inline-block;" >
                        <div id="my-legend-con2" class="legend-con2" style="bottom: 0px; float: left; margin-top: 100px;" ><ul style="list-style-type: none;margin: 0;padding: 0;"><li style="list-style: none;margin: 0;padding: 0;"></li></ul></div>

                        <div class="name" style="display: flex;
                        align-items:center;
                        margin-bottom: 10px;
                        justify-content: center;
                        min-height: 365px;
                        position: relative;">
                        <p style="position: relative; left: 300px;
                        margin-top: 64px;">Total </p>
                    <canvas id="pie-chart1" width="800" height="550"></canvas></div>
                        
                      
                  </div>

                  </div>

                  </div>

                </div>

              </div>
              <br>
     
              <div class="container-fluid">
              
                <div class="row">
                  <div class="col-6">
                    <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:480px;">
                      <div class="card-body" style="display: inline-block;" >
                        <div id="my-legend-con3" class="legend-con3" style="bottom: 0px; float: left; margin-top: 100px;" ><ul style="list-style-type: none;margin: 0;padding: 0;"><li style="list-style: none;margin: 0;padding: 0;"></li></ul></div>

                        <div class="name" style="display: flex;
                        align-items:center;
                        margin-bottom: 10px;
                        justify-content: center;
                        min-height: 365px;
                        position: relative;">
                        <p style="position: relative; left: 300px;
                        margin-top: 64px;">Total </p>
                    <canvas id="pie-chart2" width="800" height="650"></canvas></div>

                  </div>
                  </div>
                  </div>

                  <div class="col-6">
                    <div class="card" style="box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);border-radius: 10px;width: 100%;height:480px;">
                      <div class="card-body" style="display: inline-block;" >
                        <div id="my-legend-con4" class="legend-con4" style="bottom: 0px; float: left; margin-top: 100px;" ><ul style="list-style-type: none;margin: 0;padding: 0;"><li style="list-style: none;margin: 0;padding: 0;"></li></ul></div>

                        <div class="name" style="display: flex;
                        align-items:center;
                        margin-bottom: 10px;
                        justify-content: center;
                        min-height: 365px;
                        position: relative;">
                        <p style="position: relative; left: 270px;
                        margin-top: 64px;">Total </p>
                    <canvas id="pie-chart3" width="800" height="650"></canvas></div>

                  </div>
                  </div>
                  </div>
                </div>

              </div>
              <br>
              <br>
       
</body>

        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>          

    <script>
// Chart.pluginService.register({
//   id: 'p1',
//     beforeDraw: function (chart) {
//         var width = chart.chart.width,
//             height = chart.chart.height,
//             ctx = chart.chart.ctx;
//         ctx.restore();
//         var fontSize = (height / 114).toFixed(2);
//         ctx.font = fontSize + "em sans-serif";
//         ctx.textBaseline = "middle";
//         var text = chart.config.options.elements.center.text,
//             textX = Math.round((width - ctx.measureText(text).width) / 2),
//             textY = height / 2;
//         ctx.fillText(text, textX, textY);
//         ctx.save();
//     }
// });
        var ctx = document.getElementById('myChart').getContext('2d');
        var chartOptions = {
          // plugins: {
          //   p1: false
          // },
                                legend: {
                                    display: false
                                        },
                                scales: {
                                    xAxes: [{
                                        barPercentage:1
                                        }],
                                    yAxes: [
                                            // {barPercentage: 1},
                                            // {gridLines:{drawBorder: false}},
                                            {ticks: {display:false}},
                                            // {ticks: {mirror: true}},
                                            {display: false},
                                            
                                            ],
                                elements: {
                                    rectangle: {
                                    borderSkipped: 'left',
                                    }
                                }
                                }
                            };
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'horizontalBar',
    
            // The data for our dataset
            data: {
                labels: {{ wast_west_n|safe }},
                datasets: [{
                    data: {{ countsVal_west|safe }},
                    label: 'Current AQI',
                    barThickness:'flex',
                    backgroundColor:'#90A4AE',  
                    
                }]
            },
    
            
    
            // Configuration options go here
            options: chartOptions
    });
    </script>
    <script>
    
        var ctx = document.getElementById('myChart2').getContext('2d');
        var chartOptions = {
          // plugins: {
          //   p1: false
          // },
                                legend: {
                                    display: false
                                        },
                                scales: {
                                    xAxes: [{
                                        barPercentage:1
                                        }],
                                    yAxes: [
                                            // {barPercentage: 1},
                                            // {gridLines:{drawBorder: false}},
                                            {ticks: {display:false}},
                                            // {ticks: {mirror: true}},
                                            {display: false},
                                            
                                            ],
                                elements: {
                                    rectangle: {
                                    borderSkipped: 'left',
                                    }
                                }
                                }
                            };
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'horizontalBar',
    
            // The data for our dataset
            data: {
                labels: {{ wast_east_n|safe }},
                datasets: [{
                    data: {{ countsVal_east|safe }},
                    label: 'Current AQI',
                    barThickness:'flex',
                    backgroundColor:'#90A4AE',  
                    
                }]
            },
    
            
    
            // Configuration options go here
            options: chartOptions
    });
    </script>
<script> 
function getRandomColor(indidata) {
    var pool = [];
    
    for(i = 0; i <indidata.length; i++) {
      if(indidata[i]  >=300)  
      {
      pool.push("#800000");
      }
      else if(indidata[i]>=201 && indidata[i]<300)
      {
        pool.push("#800080");
      }
      else if(indidata[i]>=151 && indidata[i]<201)
      {
        pool.push("red");
      }
      else if(indidata[i]>=101 && indidata[i]<151)
      {
        pool.push("orange");
      }
      else if(indidata[i]>=51 && indidata[i]<101)
      {
        pool.push("yellow");
      }
      else
      {
        pool.push("green");
      }


    }
    return pool;
}   
    new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: {{ indidate|safe}},
      datasets: [{
          label: "AQI",
          type: "line",
          borderColor: "#1E90FF",
          data: {{ indidata}},
          fill: false
        }, {
          label: "AQI",
          type: "bar",
          backgroundColor:getRandomColor({{indidata}}),
          data:  {{indidata}} ,
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'AQI Index for {{Name_region}}'
      },
      legend: { display: false }
     
    }
});

</script>

<script> 
function getRandomColor(indidata) {
    var pool = [];
    
    for(i = 0; i <indidata.length; i++) {
      if(indidata[i]  >=300)  
      {
      pool.push("#800000");
      }
      else if(indidata[i]>=201 && indidata[i]<300)
      {
        pool.push("#800080");
      }
      else if(indidata[i]>=151 && indidata[i]<201)
      {
        pool.push("red");
      }
      else if(indidata[i]>=101 && indidata[i]<151)
      {
        pool.push("orange");
      }
      else if(indidata[i]>=51 && indidata[i]<101)
      {
        pool.push("yellow");
      }
      else
      {
        pool.push("green");
      }


    }
    return pool;
}   
    new Chart(document.getElementById("mixed-chart1"), {
    type: 'bar',
    data: {
      labels: {{ nameye|safe}},
      datasets: [{
          label: "AQI",
          type: "line",
          borderColor: "#1E90FF",
          data: {{popgend}},
          fill: false
        }, {
          label: "Population",
          type: "bar",
          backgroundColor:"#1E90FF",
          data:  {{popgend}} ,
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Population Change For {{Name_region}}'
      },
      legend: { display: false }
     
    }
});

</script>
<script>
  
  var cdata={{ valgend|safe}};
  var sum=0;
  console.log(cdata);
  for(var i=0; i<cdata.length; i++){
    sum +=cdata[i];
  }
  console.log(sum);
  var textInside = sum.toString();
  var myChart=new Chart(document.getElementById("pie-chart"), {
    type: 'doughnut',
    plugins: [{
      beforeDraw: function (chart) {
        var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;
        ctx.restore();
        var fontSize = (height / 150).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";
        var text = chart.config.options.elements.center.text,
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 2;
        // console.log(text);
        ctx.fillText(text, textX, textY);
        ctx.save();
    }
    }],
    animation:{
        animateScale:true
    },
    data: {
      labels: {{ namegend|safe}},
      datasets: [{
        label: "Gender Wise Population",
        backgroundColor: [
                "#a2d6c4",
                "#36A2EB",
                "#3e8787",
                "#579aac",
                "#7dcfe8",
                "#b3dfe7",
                "#CDDC39"
            ],
        data: {{ valgend|safe}}
      }]
    },
    
    options: {
      title: {
            display: true,
            text: 'Population Based on Gender(2021)',
            fontSize: 20,
        },
        elements: {
          center: {
            text: textInside 
          },
          
        },
        responsive: true,
        legend: false,
        legendCallback: function(chart) {
            var legendHtml = [];
            legendHtml.push('<ul style= "list-style-type:none;">');
            var item = chart.data.datasets[0];
            for (var i=0; i < item.data.length; i++) {
                legendHtml.push('<li>');
                legendHtml.push('<span class="chart-legend" style="display:inline-block; width:25px;height:25px;margin-right:10px;background-color:' + item.backgroundColor[i] +'"></span>');
                legendHtml.push('<span class="chart-legend-label-text" style="display:inline-block;">' + item.data[i] + ' - '+chart.data.labels[i]+'</span>');
                legendHtml.push('</li>');
            }

            legendHtml.push('</ul>');
            return legendHtml.join("");
        },
        tooltips: {
             enabled: true,
             mode: 'label',
             callbacks: {
                label: function(tooltipItem, data) {
                    var indice = tooltipItem.index;
                    return data.datasets[0].data[indice] + " " + data.labels[indice];
                }
             }
         },
    }
});
$('#my-legend-con').html(myChart.generateLegend());
console.log(document.getElementById('my-legend-con'));

var item= chart.data.datasets[0];
console.log(item);
</script>
<script>
  var cdata2={{ xvalrel|safe}};
  var sum2=0;
  console.log(cdata2);
  for(var i=0; i<cdata2.length; i++){
    sum2 +=cdata2[i];
  }
  console.log(sum2);
  var textInside2 = sum2.toString();
  var myChart2=new Chart(document.getElementById("pie-chart1"), {
    type: 'doughnut',
    plugins: [{
      beforeDraw: function (chart) {
        var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;
        ctx.restore();
        var fontSize = (height / 150).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";
        var text = chart.config.options.elements.center.text,
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 2;
        // console.log(text);
        ctx.fillText(text, textX, textY);
        ctx.save();
    }
    }],
    animation:{
        animateScale:true
    },
    data: {
      labels: {{ namerel|safe}},
      datasets: [{
        label: "Religious Population",
        backgroundColor: ["#a2d6c4",
                "#36A2EB",
                "#3e8787",
                "#579aac",
                "#7dcfe8",
                "#b3dfe7",
                "#CDDC39"],
        data: {{ xvalrel|safe}},
        fontSize:20
      }]
    },
    options: {
      title: {
            display: true,
            text: 'Population Based on Religion(2021)',
            fontSize: 20,
        },
        elements: {
          center: {
            text: textInside2
          },
          
        },
        responsive: true,
        legend: false,
        legendCallback: function(chart) {
            var legendHtml2 = [];
            legendHtml2.push('<ul style= "list-style-type:none;">');
            var item2 = chart.data.datasets[0];
            for (var i=0; i < item2.data.length; i++) {
                legendHtml2.push('<li>');
                legendHtml2.push('<span class="chart-legend" style="display:inline-block; width:25px;height:25px;margin-right:10px;background-color:' + item2.backgroundColor[i] +'"></span>');
                legendHtml2.push('<span class="chart-legend-label-text" style="display:inline-block;">' + item2.data[i] + ' - '+chart.data.labels[i]+'</span>');
                legendHtml2.push('</li>');
            }

            legendHtml2.push('</ul>');
            return legendHtml2.join("");
        },
        tooltips: {
             enabled: true,
             mode: 'label',
             callbacks: {
                label: function(tooltipItem, data) {
                    var indice = tooltipItem.index;
                    return data.datasets[0].data[indice] + " " + data.labels[indice];
                }
             }
         },
    }
});
$('#my-legend-con2').html(myChart2.generateLegend());
console.log(document.getElementById('my-legend-con2'));
</script>
<script>
  var cdata3={{ xvallang|safe}};
  var sum3=0;
  console.log(cdata3);
  for(var i=0; i<cdata3.length; i++){
    sum3 +=cdata3[i];
  }
  console.log(sum3);
  var textInside3 = sum3.toString();
  var myChart3=new Chart(document.getElementById("pie-chart2"), {
    type: 'doughnut',
    plugins: [{
      beforeDraw: function (chart) {
        var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;
        ctx.restore();
        var fontSize = (height / 150).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";
        var text = chart.config.options.elements.center.text,
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 2;
        // console.log(text);
        ctx.fillText(text, textX, textY);
        ctx.save();
    }
    }],
    animation:{
        animateScale:true
    },
    data: {
      labels: {{ namelang|safe}},
      datasets: [{
        label: "Population Based On Language Spoken",
        backgroundColor: ["#a2d6c4",
                "#36A2EB",
                "#3e8787",
                "#579aac",
                "#7dcfe8",
                "#b3dfe7",
                "#CDDC39"],
        data: {{ xvallang|safe}}
      }]
    },
    options: {
      title: {
            display: true,
            text: 'Population Based on Languages(2021)',
            fontSize: 20,
        },
        elements: {
          center: {
            text: textInside3
          },
          
        },
        responsive: true,
        legend: false,
        legendCallback: function(chart) {
            var legendHtml3 = [];
            legendHtml3.push('<ul style= "list-style-type:none;">');
            var item3 = chart.data.datasets[0];
            for (var i=0; i < item3.data.length; i++) {
                legendHtml3.push('<li>');
                legendHtml3.push('<span class="chart-legend" style="display:inline-block; width:25px;height:25px;margin-right:10px;background-color:' + item3.backgroundColor[i] +'"></span>');
                legendHtml3.push('<span class="chart-legend-label-text" style="display:inline-block;">' + item3.data[i] + ' - '+chart.data.labels[i]+'</span>');
                legendHtml3.push('</li>');
            }

            legendHtml3.push('</ul>');
            return legendHtml3.join("");
        },
        tooltips: {
             enabled: true,
             mode: 'label',
             callbacks: {
                label: function(tooltipItem, data) {
                    var indice = tooltipItem.index;
                    return data.datasets[0].data[indice] + " " + data.labels[indice];
                }
             }
         },
    }
});
$('#my-legend-con3').html(myChart3.generateLegend());
console.log(document.getElementById('my-legend-con3'));

</script>
<script>
   var cdata4={{ xvalem|safe}};
   console.log(cdata4);
  var sum4=0;
  console.log(cdata4);
  console.log(cdata4.length);
  for(var i=0; i<cdata4.length; i++){
    sum4 +=cdata4[i];
  }
  console.log(sum4);
  var textInside4 = sum4.toString();
  var myChart4=new Chart(document.getElementById("pie-chart3"), {
    type: 'doughnut',
    plugins: [{
      beforeDraw: function (chart) {
        var width = chart.chart.width,
            height = chart.chart.height,
            ctx = chart.chart.ctx;
        ctx.restore();
        var fontSize = (height / 150).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";
        var text = chart.config.options.elements.center.text,
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 2;
        // console.log(text);
        ctx.fillText(text, textX, textY);
        ctx.save();
    }
    }],
    animation:{
        animateScale:true
    },
    data: {
      labels: {{ nameemp|safe}},
      datasets: [{
        label: "Population Based Of Occupation",
        backgroundColor: ["#a2d6c4",
                "#36A2EB",
                "#3e8787",
                "#579aac",
                "#7dcfe8",
                "#b3dfe7",
                "#CDDC39"],
        data: {{ xvalem|safe}},
        
        
      }]
    },
    options: {
      title: {
            display: true,
            text: 'Population Based on Occupation(2021)',
            fontSize: 20,
        },
        elements: {
          center: {
            text: textInside4
          },
          
        },
        responsive: true,
        legend: false,
        legendCallback: function(chart) {
            var legendHtml4 = [];
            legendHtml4.push('<ul style= "list-style-type:none;">');
            var item4 = chart.data.datasets[0];
            for (var i=0; i < item4.data.length; i++) {
                legendHtml4.push('<li>');
                legendHtml4.push('<span class="chart-legend" style="display:inline-block; width:25px;height:25px;margin-right:10px;background-color:' + item4.backgroundColor[i] +'"></span>');
                legendHtml4.push('<span class="chart-legend-label-text" style="display:inline-block;">' + item4.data[i] + ' - '+chart.data.labels[i]+'</span>');
                legendHtml4.push('</li>');
            }

            legendHtml4.push('</ul>');
            return legendHtml4.join("");
        },
        tooltips: {
             enabled: true,
             mode: 'label',
             callbacks: {
                label: function(tooltipItem, data) {
                    var indice = tooltipItem.index;
                    return data.datasets[0].data[indice] + " " + data.labels[indice];
                }
             }
         },
    }
});
$('#my-legend-con4').html(myChart4.generateLegend());
</script>
</html>